/** {
  border: 1px dotted green;
}*/

/*body {
	background-image: url(../space.jpg);
	color: white;
}*/

/*.container {
	background: rgba(7, 7, 7, .7);
}
*/
body {
	font-family: Helvetica, Sans Serif;
}

section {
	/*border: 3px solid red;*/
	padding: 0;
	margin-left: 0px;
}

img.choices:hover {
  background-color: #B4EEB4;
  opacity: .75;
  cursor: pointer;
}

img.choices {
  height: 300px;
}

img {
	border: solid black 5px;
	margin-left: 0;
}

figure {
	margin-left: 0;
	margin-bottom: 10px;
}
/*
#choice2 {
	margin-left: 30px;
}
*/
#content2 {
	margin-top: 150px;
	text-align: center;
	/*padding-left: 25px;*/
	font-style: oblique;
	font-weight: bolder;
	line-height: 10%;
}

#chart {
	padding-left: 30px;
	/*margin-bottom: 500px;*/
	text-align: center;
}
/*
section #chart {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}*/

h4.title {
	margin-left: auto;
	margin-right: auto;
}

header img {
	border: none;
}

p#slogan {
	font-family: Helvetica, Sans Serif;
	font-size: 1.25em;
	margin-top: -10px;
	margin-bottom: 10px;
}

hr {
	border: 0;
	color: orange;
	background-color: #cccccc;
	height: 3px;
	width: 100%;
	text-align: left;
	margin-top: -5px;
}

header {
	margin-bottom: -10px;
}

footer {
	background-color: #cccccc;
	padding-right: 40px;
	height: 100px;
	/*width: 100%;*/
	padding-top: 3px;
	margin-top: 50px;
}

footer p {
	margin-top: 50px;
	/*color: white;*/
	position: absolute;
	/*bottom: 0;*/
	right: 40px;
	text-align: right;
	vertical-align: bottom;
}

section h4 {
	margin-bottom: 5px;
}

aside {
	text-align: right;
	float: right;
}

canvas {
	padding-top: 20px;
}

#trekName, #warsName {
	color: #ff3366;
	font-weight: bold;
}

/*#versus {
	font-style: oblique;
	font-weight: bold;
}*/